MQTTServer = "tcp://iot.adipose:1883"
MQTTUsername = "garage"
MQTTPassword = ""
MQTTClientID = "garage-homekit-controller"
MQTTTopicStatus = "garage/state"
MQTTTopicControl = "garage/control"
MQTTTopicPresence = "garage/presence"
HomeKitName = "Garage Door"
HomeKitPIN = "12391123"
HomeKitSerial = ""
